*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-color: black;
}
.header{
    width:100% ;
    height: 100vh;
    background-color: black;
}

nav{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
   
    color: beige;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow:0 5px 55px rgba(255, 255, 255, 0.2);
    
    border-top-left-radius: 20px;
    border-bottom-right-radius: 18px;
    border:1px solid rgba(255, 255, 255, 0.5);
    animation-delay: 0.5s;
    z-index: 1;
   
}
nav ul li{
    display:inline-block;
    margin: 15px 20px;
    animation-delay: 0.5s;


}
nav ul li a{
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    color: azure;
    position: relative;
}
nav ul li a:hover{
 box-shadow:0 6px 55px 6px rgba(255, 255,255,1);
 transition: 0.3s;
}
.intro-image img{
    width: 350px;
    height: 365px;
    margin-left: 20px;
    margin-top: 0px;
    animation-delay: 10s;
    position: relative;

   
}
.intro-container{
    position: absolute;
    top: 70px;
    left: 20px;
    width: 90%;
}
.intro{
    color: azure;
    margin-left: 50%;
    margin-top:14%;

}
.intro p{
    color: rgba(127, 127, 129, 0.774);
    font-family: serifs;
    animation-delay: 1s;
}
.intro h1{
    color: rgba(237, 237, 241, 0.979);
    margin-top: 20px;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    animation-delay: 1.5s;
}
.intro h1 span{
    color: rgb(255, 0, 64);
}
.connection{
    display: flex;
    
    margin-left: 50%;
    margin-top: 30px;
    
}

.socialmedia a{
    color: aliceblue;
    text-align: center;
    width: 100px;
    height: 80px;
    margin: 7px;
    padding: 5px;
    background-color:rgba(24, 23, 23, 0.048);
    box-shadow: 0.6px 0.1px 0.7px rgba(233, 230, 230, 0.685);
    border: 0.1px solid rgba(255, 255, 255, 0.274);
    border-radius: 50%;
    animation-delay:2s;
}
.socialmedia a:hover{
  background-color: rgb(243, 13, 51);
  color: black;
  
  border: 0.1px solid rgba(15, 15, 15, 0.925);
 }
 
 .resume a{
   
    font-size: 12px;
    text-decoration: none;
    color: azure;
   font-weight: 400;
    padding: 10px;
    margin-left: 45px;
    margin-top: 2px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 30px;
    box-shadow: 0.5px 0.2px 0.8px rgba(233, 230, 230, 0.685);
 }
 .resume a:hover{
    color: black;
    background:linear-gradient(-45deg, rgba(231, 170, 4, 0.986),rgba(247, 6, 38, 0.959));
 }



.anim{
    opacity: 0;
    transform:translateX(-30px);
    animation:move 1s linear forwards;
}
@keyframes move{
    100%{
        opacity: 1;
    transform:translateX(0px);
    }
}

/*----About------*/
.aboutme{

   
    background-color: black;
   margin-top: 60px;
    
}
 .title{
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(240, 240, 237, 0.527);
}
 .aboutme p {
    display: inline-block;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    padding: 10px;
    color: rgba(240, 240, 237, 0.527);
    background-color: rgba(68, 65, 65, 0.226);
    border: 1.5px solid rgb(12, 11, 11);
    border-radius: 20px;
    box-shadow: 0.3px 0.1px 20px -10px rgba(233, 230, 230, 0.685);
    
}
.info{
    display: flex;
    margin-top: 30px;
    margin-left: 130px;
}
.info .headings{
    margin-right: 50px;
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.info .headings::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background-color: blanchedalmond;
    position: absolute;
    left: 0px;
    bottom:-7px;
    transition: 0.4s;
}
 .info .headings.active::after{
    width: 100%;
}
.details{
    color: blanchedalmond;
    margin:30px 100px;
    
}
.details ul li{
    font-size:11px;
    line-height: 20px;
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 248, 244);
}
.details ul li span{
    font-size:12px ;
    font-weight: 500;
    color: crimson;

}
.details {
    display: none;
}
.details.show-active{
    display: block;
}


/*--------SERVICES----------*/

.services .title {
    color: rgb(252, 248, 244);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
  margin-left: 60px;
  margin-top: 60px;

}

.services .container{
    display:flex;
    color: beige;
    margin-left: 80px;
    
      
}
.card{
    width: 200px;
    
    margin-left: 40px;
    padding: 20px;
    object-fit: cover;
    border:1px solid rgb(32, 32, 32);
    border-radius: 20px;
    box-shadow: 0.3px 0.1px 20px -10px rgba(233, 230, 230, 0.685);
    position: relative;
    overflow: hidden;
    
}

.card i{

    
    font-size: 25px;
     
}
.card h2{
    font-size: 15px;
    font-weight: 600;
    padding: 20px 10px;
    color: crimson;

}
.card p{
    font-size: 11px;
}
/*----------my work----------*/

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 3, 0.925),rgba(243, 243, 239, 0.973));
 
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.card:hover .layer{
  height: 100%;

}



/*----------CONTACT ME---------*/
.contact{
    margin-top: 70px;
    
}
.contact h2{
    color: azure;
    margin-left: 70px;
}
.message{
    width: 700px;
    height: 400px;
    border: 1px solid rgb(9, 9, 10);
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0.1px 0.5px 40px -19px rgba(233, 230, 230, 0.685);
}
.send span{
    color: azure;
    margin-top: 80px;
    margin-left: 350px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: -50px;
}
form{
    margin-left: 350px;
    margin-top: 60px;
}
form input{
    margin-top: 15px;
    width: 100%;
    border: none;
    color: azure;
    border-bottom: 2px solid white;
    background-color: black;
    padding: 10px 15px;
}
textarea{
    margin-top: 15px;
    width:100%;
    background-color: black;
    color: beige;
    border:0.4px solid white ;
    padding-left: 15px;
    
    }
    #submit{
        width: 80px;
       
        cursor: pointer;
        background-color: black;
   
       border-radius: 20px;
       box-shadow: 0.5px -0.2px 1px rgba(233, 230, 230, 0.685);
    }
    #submit:hover{
        background-color: rgba(212, 212, 15, 0.911);
        color: black;
    }
/*button{
    width: 80px;
    margin-top: 20px;
    padding: 5px 5px;
    font-size: 15px;
    color: beige;
    background-color: black;
   
    border-radius: 20px;
    box-shadow: 0.5px 0.2px 1px rgba(233, 230, 230, 0.685);

    }
    button:hover{
        background-color: rgb(238, 237, 247);
        color: black;
    }*/
    .contact-info{
        position: absolute;
        top:20px;
        left: 10px;
        width: 300px;
        height: 90%;
        border: 0.1px solid rgba(111, 111, 114, 0.418);
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(233, 230, 230, 0.466),
                    -2px -2px 2px rgba(66, 63, 63, 0.253);
        background-color: rgba(75, 78, 78, 0.185);

    }
    .contact-info h3{
        color: aliceblue;
        margin-top: 50px;
        margin-left: 90px;
    }
    .contact-info .info{
        color: azure;
        margin-left: 60px;
        font-size: 13px;
    }
    .contact-info .info i{
        margin-right: 20px;
    }
    #social{
        margin-top: 40px;
        margin-left: 33px;

    }
    hr{
        margin-top: 30px;
        height: 0px;
        
    }
    .footer{
        width: 100%;
        height: 40px;
        color: beige;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
       background-color: rgb(21, 21, 24);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    


    /*---------media queries------*/

  nav .fa-solid{
          color: aliceblue;
          display: none;
    }
    #check{
        display: none;
    }

    @media only screen and (max-width:600px){
        .intro-image img{
            position: absolute;
            top:60px;
            left: -150px;
            overflow: hidden;
            width: 350px;
            height: 500px;
        }
        .intro-container{
            margin-top: 150px;
            margin-left: -25px;
        }
        .intro p{
            font-size: 13px;
            color: rgba(233, 228, 226, 0.534);
        }
        .intro h1{
            font-size: 21px;
        }
        .connection{
            display: block;
        }
        .socialmedia {
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: px;
        }
        .socialmedia a{
            width: 45px;
            height: 35px;
            text-align: center;
            font-size: 20px;
            border-radius: 42%;
         box-shadow: 0.3px 1px 6px rgba(116, 113, 113, 0.199);
        }
        .resume{
            margin-top: 30px;
            margin-left: -10px;
        
        }
        nav .fa-solid{
            color: rgb(236, 234, 230);
           font-size: 20px;
           
           display: block;

           
           
        }
        #sidemenu{
            background:transparent;
            background-color: rgba(174, 177, 179, 0.151);
            backdrop-filter: blur(5px);
            position: fixed;
            top:0;
            right: -160px;
          width: 150px;
          z-index: 2;
          transition: all 0.6s;
        }
       
     
        
        #check:checked ~ #sidemenu{
        
            right: 0px;
        }
        nav ul li{
           
            margin-top: 40px;
            
        
        }
        nav ul li a{
            display: block;
            font-size: 18px;
         padding: 13px;
         
            
            
        }
        nav ul .fa-solid{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 30px;
            margin-left: 10px;
        }
       nav .fa-solid{
        padding: 5px;
        font-size: 30px;
        margin-right: 15px;
        margin-top: 10px;
       }




       .aboutme{
          margin-top: 5px;
       }



       .aboutme .title{
        margin-left: 127px;
        margin-bottom: 50px;
        font-size: 24px;
        color: azure;
       }



       .aboutme p{
        width: 300px;
        
        margin-left:37px;
        font-size: 18px;
        padding: 10px;
        padding-top: 20px;
       }
    
      .info {
       margin-left: 20px;
    
    
      }
      .info .headings{
        font-size: 19px;
        margin-right: 30px;
      }
      .details ul li{
        width: 300px;
        font-size: 15px;
        margin-left: -50px;
        line-height: 25px;
        
      }
     .details ul li span{
        font-size: 18px;
        font-weight: 600;
     }
     .services .container{
        display: block;
     }
     .services .title{
        font-size: 24px;
     }
     .card{
        width: 300px;
        height: 400px;
        margin-left: -40px;
        margin-bottom: 30px;
     }
     
     .card h2{
        font-size: 20px;

     }
     .card p{
        font-size: 17px;
        padding: 20px;
        padding-top: 10px;
     }

    
     















        .contact-info {
            width:0px;
            height: 0px;
            border: none;
            border-radius: none;
            background-color: none;
        
                
    
                
        
                
                
               
                
        
            
        }
        .contact-info h3{
            width: 130px;
            color: rgb(247, 253, 253);
            
            margin-top: 20px;
            margin-left: 10px;
            
            
        }
        .info-box{
            z-index: 0;
        }
        
        .info{
            
            margin-top: 50px;
            margin-right: 0px;
            padding-right: 20px;
            
        }
        .info span{
            font-size: 16px;
            margin-left: 0px;
        }
         .info .fa-solid {
            font-size: 24px;
            margin-left: -25px;
        }
        #social{
            margin-left: 150px;
        }
        
      
    

        
        .send span{
            width: 130px;

            height: 20px;
            font-size:  18px;
            margin-left: 170px;
            margin-top: 90px;
            
            
        }
        .message{
            
                width: 340px;
                height: 500px;
                border: 1px solid rgb(9, 9, 10);
                margin-top: 30px;
                margin-left: 17px;
                border-radius: 20px;
                
                box-shadow: 0.1px 0.5px 40px -19px rgba(233, 230, 230, 0.685);
                
        }
         .form-box{
            width: 200px;
            position: absolute;
            left:-300px ;
            top: 0;
           
            display: none;
           z-index: 2;
           transition: all 3s ;
        }
        form{
         width: 290px;
         border: 0.5px solid rgb(200, 200, 206);
         margin-top: 90px;
         padding: 10px;
         margin-left:325px;
         border-radius: 30px;
         background: transparent;
         background-color: black;
         
         
         
        }
        input{
            font-size: medium;
            outline: none;
        }
        textarea{
            font-size: medium;
            outline: none;
        }
    

       
        
        #submit{
            width: 80px;
            
        }
        
        #check1:checked ~ .form-box{
            display: block;
        }
     #check1{
        display: none;
     }
    
        
     
    
        
    }
